/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea

composer.phar
public
public/js
public/css
public/packages/sleepingowl
_ide_helper.php
package-lock.json
/public/mix-manifest.json
